<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tobicord</title>
        <link rel="shortcut icon" href="../images/tobicord2.png" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/common.css" />
    </head>
    <body>
        <div class="root">
            <div class="header">
                <div>
                    <div class="logo"><a target="_blank" href="/">Tobicord</a></div>
                    <div class="nav-bar-container">
                        <div>
                            <div>
                                <a href="#feature-background-extension" class="nav-feature">Feature</a>
                            </div>
                            <div>
                                <a
                                    target="_blank"
                                    class="nav-extension"
                                    href="https://chrome.google.com/webstore/detail/tobicord/elclbdojjgnbooalpmbpjiadbeoigdca?hl=zh-TW"
                                    >Extension Download</a
                                >
                            </div>
                        </div>
                    </div>
                    <a target="_blank" href="/auth" class="nav-open-tobicord">Open Tobicord</a>
                </div>
            </div>
            <div class="main">
                <div class="shadow-gradient"></div>
                <div class="banner">
                    <div>
                        <h1 class="banner-title">Better Than Bookmarks</h1>
                        <h5 class="banner-content">
                            Bookmarks are for books, not browsers. Organize your browser tabs into Tobicord so you can access key resources
                            in one click instead of seven.
                        </h5>
                        <div class="banner-button-container">
                            <a class="banner-open-tobicord" target="_blank" href="/auth">Open Tobicord</a>
                            <a
                                class="banner-extension"
                                target="_blank"
                                href="https://chrome.google.com/webstore/detail/tobicord/elclbdojjgnbooalpmbpjiadbeoigdca?hl=zh-TW"
                                >Chrome Extension Download</a
                            >
                        </div>
                    </div>
                </div>
                <div class="feature-background">
                    <div>
                        <h2>Tame Your Browser Tabs</h2>
                        <h5>Be happy and download Tobicord now!</h5>
                        <a class="feature-extension-button-container">
                            <span>
                                <img alt="chrome-icon" src="../images/chrome.svg" />
                                <span>Add Tobicord to Chrome or Edge</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div id="feature-background-extension" class="feature-background-extension">
                    <div class="shadow-gradient"></div>
                    <div class="feature-extension">
                        <div class="feature-extension-content">
                            <h5>Get Your Pages Easily With Chrome Extension</h5>
                            <br />
                            <br />
                            <h6>
                                With Tobicord Chrome Extension, you can easily get all your pages on your browsers.
                                <br />
                                <br />
                                These pages will be formed as cards which can easily dragged on Tobicord Website.
                            </h6>
                            <br />
                            <br />
                        </div>
                        <img
                            class="feature-extension-gif"
                            alt="product-feature"
                            src="https://pub-61a84bb50f35476fb1e838152ab72616.r2.dev/%E6%93%B4%E5%85%85%E5%A5%97%E4%BB%B6%E4%BD%BF%E7%94%A8%E6%95%99%E5%AD%B8-1.gif"
                        />
                    </div>
                </div>
                <div class="feature-background-tabs-collection">
                    <div class="shadow-gradient"></div>
                    <div class="feature-extension">
                        <div class="feature-extension-content">
                            <h5>Organize Your Browser Tabs Easily</h5>
                            <br />
                            <br />
                            <h6>
                                Drag tab cards to any spaces or collections as you wish.
                                <br />
                                <br />
                                Helps you systematically organize and categorize your web pages.
                                <br />
                                <br />
                            </h6>
                            <br />
                            <br />
                        </div>
                        <img
                            class="feature-extension-gif"
                            alt="product-feature"
                            src="https://pub-61a84bb50f35476fb1e838152ab72616.r2.dev/%E6%93%B4%E5%85%85%E5%A5%97%E4%BB%B6%E4%BD%BF%E7%94%A8%E6%95%99%E5%AD%B8-1.gif"
                        />
                    </div>
                </div>
                <div class="feature-background-extension">
                    <div class="shadow-gradient"></div>
                    <div class="feature-extension">
                        <div class="feature-extension-content">
                            <h5>Collaborative Editing In Organization</h5>
                            <br />
                            <br />
                            <h6>
                                Invitation system allows users to invite their team or friends to organizations as members.
                                <br />
                                <br />
                                The permission system allows owners to easily manage members of the organization.
                            </h6>
                            <br />
                            <br />
                        </div>
                        <img
                            class="feature-extension-gif"
                            alt="product-feature"
                            src="https://pub-61a84bb50f35476fb1e838152ab72616.r2.dev/%E6%93%B4%E5%85%85%E5%A5%97%E4%BB%B6%E4%BD%BF%E7%94%A8%E6%95%99%E5%AD%B8-1.gif"
                        />
                    </div>
                </div>
                <div class="feature-background-tabs-collection">
                    <div class="shadow-gradient"></div>
                    <div class="feature-extension">
                        <div class="feature-extension-content">
                            <h5>Organization Chat Room</h5>
                            <br />
                            <br />
                            <h6>
                                The chat system allows members to communicate and discuss the latest updates on bookmark management with
                                each other.
                                <br />
                                <br />
                            </h6>
                            <br />
                            <br />
                        </div>
                        <img
                            class="feature-extension-gif"
                            alt="product-feature"
                            src="https://pub-61a84bb50f35476fb1e838152ab72616.r2.dev/%E6%93%B4%E5%85%85%E5%A5%97%E4%BB%B6%E4%BD%BF%E7%94%A8%E6%95%99%E5%AD%B8-1.gif"
                        />
                    </div>
                </div>
                <div class="feature-background-extension">
                    <div class="shadow-gradient"></div>
                    <div class="feature-extension">
                        <div class="feature-extension-content">
                            <h5>Share Or Export Your Collections</h5>
                            <br />
                            <br />
                            <h6>
                                Users can create a URL and share their bookmark collection with others.
                                <br />
                                <br />
                                All data will be stored in cloud databases, so there is no need to worry about data loss and it is also very
                                convenient to access..
                            </h6>
                            <br />
                            <br />
                        </div>
                        <img
                            class="feature-extension-gif"
                            alt="product-feature"
                            src="https://pub-61a84bb50f35476fb1e838152ab72616.r2.dev/%E6%93%B4%E5%85%85%E5%A5%97%E4%BB%B6%E4%BD%BF%E7%94%A8%E6%95%99%E5%AD%B8-1.gif"
                        />
                    </div>
                </div>
            </div>
            <div class="footer">
                <div>COPYRIGHT @ 2023 Tobicord</div>
            </div>
        </div>
        <script type="module" src="/js/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
