<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
        <link href="/css/font.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/common.css" />
    </head>
    <body class="Tobicord">
        <div class="preload-back-ground"></div>
        <div id="root">
            <div class="sectionBox" id="mainContainer">
                <section class="leftSection">
                    <button class="leftSection-fold-button-container">
                        <div class="leftSection-fold-button-svg svg-hover"></div>
                    </button>
                    <div class="leftSection-container">
                        <section class="leftSection-nav">
                            <div class="leftSection-nav-top">
                                <div class="leftSection-nav-top-category-container">
                                    <button class="leftSection-nav-top-category-button" tabindex="3">
                                        <div class="leftSection-nav-top-category">
                                            <div class="leftSection-nav-top-category-title">動漫</div>
                                        </div>
                                    </button>
                                </div>
                                <div class="leftSection-nav-top-category-container">
                                    <button class="leftSection-nav-top-category-button" tabindex="3">
                                        <div class="leftSection-nav-top-category">
                                            <div class="leftSection-nav-top-category-title">小說</div>
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <button class="add-svg svg-gray svg-hover"></button>
                            <div class="leftSection-nav-bottom">
                                <div class="leftSection-nav-bottom-question-container" tabindex="4">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-question-svg"></div>
                                    </div>
                                </div>

                                <div class="leftSection-nav-bottom-notice-container" tabindex="4">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-notice-svg"></div>
                                    </div>
                                </div>
                                <div class="leftSection-nav-bottom-user-container" tabindex="4">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-user-svg"></div>
                                    </div>
                                    <section class="user-popover-container">
                                        <div class="user-popover">
                                            <div class="user-popover-account">
                                                <div class="user-popover-account-title">Account</div>
                                                <span class="user-popover-account-email"
                                                    >moonightear (tom54699@gmail.com)</span
                                                >
                                                <a class="user-popover-edit-account">Edit account</a>
                                                <a class="user-popover-change-password">Change Password</a>
                                            </div>
                                            <div class="user-popover-logout">
                                                <br />
                                                <a class="user-popover-logout-button">Log out</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <section class="leftSection-spaces">
                            <div class="leftSection-spaces-top">
                                <div class="leftSection-spaces-top-title-container">
                                    <div class="leftSection-spaces-top-title">動漫畫</div>
                                </div>
                                <div class="leftSection-spaces-top-subtitle-container">
                                    <button class="leftSection-spaces-top-subtitle-gear-container">
                                        <div class="leftSection-spaces-top-subtitle-gear-svg svg-hover"></div>
                                    </button>
                                    <div class="leftSection-spaces-top-subtitle-addFriend-frame">
                                        <button lass="leftSection-spaces-top-subtitle-addFriend-container">
                                            <div class="leftSection-spaces-top-subtitle-addFriend-svg svg-hover"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="leftSection-spaces-search">
                                <div class="leftSection-spaces-search-input-container">
                                    <div class="leftSection-spaces-search-input-container-glass-svg"></div>
                                    <input
                                        placeholder="Search organization"
                                        class="leftSection-spaces-search-input-container-input"
                                    />
                                    <button class="leftSection-spaces-search-input-container-button">
                                        <div
                                            class="leftSection-spaces-search-input-container-close-svg svg-hover"
                                        ></div>
                                    </button>
                                </div>
                            </div>
                            <div class="leftSection-spaces-container">
                                <div class="leftSection-spaces-container-top">
                                    <div class="leftSection-spaces-container-top-title">Spaces</div>
                                    <div class="leftSection-spaces-container-top-button-container">
                                        <span class="leftSection-spaces-container-top-button">
                                            <div class="leftSection-spaces-container-top-add-tooltips">
                                                Create or Browse Spaces
                                            </div>
                                            <button class="leftSection-spaces-container-top-add-button">
                                                <div class="leftSection-spaces-container-top-add-svg"></div>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="leftSection-spaces-container-main">
                                    <div class="leftSection-spaces-container-main-card-container">
                                        <div class="leftSection-spaces-container-main-card" tabindex="0">
                                            <button class="leftSection-spaces-container-main-card-button">
                                                <div
                                                    class="leftSection-spaces-container-main-card-star-svg svg-focus"
                                                ></div>
                                            </button>
                                            <div class="leftSection-spaces-container-main-card-title">
                                                Starred Collections
                                            </div>
                                        </div>
                                        <div class="leftSection-spaces-container-main-card" tabindex="1">
                                            <button class="leftSection-spaces-container-main-card-button">
                                                <div
                                                    class="leftSection-spaces-container-main-card-lock-svg svg-focus"
                                                ></div>
                                            </button>
                                            <div class="leftSection-spaces-container-main-card-title">漫畫</div>
                                        </div>
                                        <div class="leftSection-spaces-container-main-card" tabindex="2">
                                            <button class="leftSection-spaces-container-main-card-button">
                                                <div
                                                    class="leftSection-spaces-container-main-card-folder-svg svg-focus"
                                                ></div>
                                            </button>
                                            <div class="leftSection-spaces-container-main-card-title">動畫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="middleSection">
                    <div class="middleSection-top">
                        <div class="middleSection-top-container">
                            <div class="middleSection-top-title">My Collections</div>
                            <span class="middleSection-top-subtitle"> | 1 collections</span>
                            <button class="middleSection-top-config-button">
                                <div class="middleSection-top-gear-svg svg-hover"></div>
                            </button>
                        </div>
                    </div>
                    <div class="middleSection-nav">
                        <div class="middleSection-nav-list">
                            <div class="middleSection-nav-tag-button-container">
                                <button
                                    class="middleSection-nav-button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <div class="middleSection-nav-tag-svg"></div>
                                    <span>Tag Filter</span>
                                    <div class="arrow-down-svg"></div>
                                    <div class="arrow-up-svg"></div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <span>Clear all Tags</span>
                                    </li>
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <div class="middleSection-nav-tag-svg"></div>
                                        <span> 奇幻</span>
                                        <button class="edit-svg-container">
                                            <div class="edit-svg"></div>
                                        </button>
                                    </li>
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <div class="middleSection-nav-tag-svg"></div>
                                        <span> 科幻</span>
                                        <button class="edit-svg-container">
                                            <div class="edit-svg"></div>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <button class="middleSection-nav-button">
                                <span>EXPAND</span>
                            </button>
                            <button class="middleSection-nav-button">
                                <span>COLLAPSE</span>
                            </button>
                        </div>
                        <div class="middleSection-nav-add-button-container">
                            <button class="middleSection-nav-add-button">
                                <div class="add-svg svg-white"></div>
                                <span class="middleSection-nav-add-text">ADD COLLECTION</span>
                            </button>
                        </div>
                    </div>
                    <div class="middleSection-container"></div>
                    <div class="middleSection-tab-popover-container">
                        <span class="middleSection-tab-popover-title">(3 tabs selected)</span>
                        <button class="middleSection-tab-popover-move-button">
                            <div class="middleSection-tab-popover-move-svg"></div>
                            <span class="middleSection-tab-popover-move-text">MOVE</span>
                        </button>
                        <button class="middleSection-tab-popover-open-button">
                            <div class="middleSection-tab-popover-open-svg"></div>
                            <span class="middleSection-tab-popover-open-text">Open tabs</span>
                        </button>
                        <button class="middleSection-tab-popover-create-button">
                            <div class="middleSection-tab-popover-create-svg"></div>
                            <span class="middleSection-tab-popover-create-text">Create new collection</span>
                        </button>
                        <button class="middleSection-tab-popover-delete-button">
                            <div class="middleSection-tab-popover-delete-svg"></div>
                            <span class="middleSection-tab-popover-delete-text">DELETE</span>
                        </button>
                        <button class="middleSection-tab-popover-close-button">
                            <div class="middleSection-tab-popover-close-svg"></div>
                        </button>
                    </div>
                </section>
                <section class="rightSection">
                    <button class="rightSection-fold-button">
                        <div class="rightSection-fold-button-svg svg-hover"></div>
                    </button>
                    <div class="rightSection-container">
                        <div class="rightSection-nav">
                            <div class="rightSection-nav-title">Open Tabs</div>
                        </div>
                        <div class="rightSection-spaces">
                            <div class="rightSection-spaces-window-container">
                                <div class="rightSection-spaces-window-tabs-container">
                                    <div class="rightSection-spaces-window-tabs-box">
                                        <div class="rightSection-spaces-window-tabs-container-close-container">
                                            <span class="rightSection-spaces-window-tabs-container-close-title"
                                                >Are you sure you want to close this window?</span
                                            >
                                            <div
                                                class="rightSection-spaces-window-tabs-container-close-button-container"
                                            >
                                                <button class="rightSection-spaces-window-tabs-container-return-button">
                                                    <span class="rightSection-spaces-window-tabs-container-return-text"
                                                        >Cancel</span
                                                    >
                                                </button>
                                                <button class="rightSection-spaces-window-tabs-container-close-button">
                                                    <span class="rightSection-spaces-window-tabs-container-close-text"
                                                        >Yes, Close</span
                                                    >
                                                </button>
                                            </div>
                                        </div>
                                        <div class="rightSection-spaces-window-tabs-line">
                                            <div class="rightSection-spaces-window-tabs-left-block">
                                                <span class="rightSection-spaces-window-title">Window 1</span>
                                                <button
                                                    class="rightSection-spaces-window-fold-button"
                                                    tabindex="3"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample"
                                                    aria-expanded="false"
                                                    aria-controls="collapseExample"
                                                >
                                                    <div class="arrow-right-svg"></div>
                                                    <div class="rightSection-spaces-window-arrow-down-svg"></div>
                                                </button>
                                            </div>
                                            <div class="rightSection-spaces-window-tabs-right-block">
                                                <div>
                                                    <span class="rightSection-spaces-window-tabs-download-container">
                                                        <button class="rightSection-spaces-window-tabs-download-button">
                                                            <div
                                                                class="rightSection-spaces-window-tabs-download-svg"
                                                            ></div>
                                                            <div
                                                                class="rightSection-spaces-window-tabs-download-tool-tips"
                                                            >
                                                                Save Session
                                                            </div>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span class="rightSection-spaces-window-tabs-close-container">
                                                    <button class="rightSection-spaces-window-tabs-close-button">
                                                        <div class="rightSection-spaces-window-tabs-close-svg"></div>
                                                        <div class="rightSection-spaces-window-tabs-close-tool-tips">
                                                            Close
                                                        </div>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="rightSection-spaces-window-tabs-cards-container collapse"
                                            id="collapseExample"
                                        >
                                            <div class="rightSection-spaces-window-no-tab-container none">
                                                <div class="rightSection-spaces-window-no-tab">No tabs</div>
                                            </div>
                                            <div class="rightSection-spaces-window-tabs-card-frame">
                                                <div class="rightSection-spaces-window-tabs-card">
                                                    <div class="rightSection-spaces-window-tabs-url-image-container">
                                                        <img
                                                            class="rightSection-spaces-window-tabs-url-image"
                                                            src="https://github.githubassets.com/favicons/favicon-dark.svg"
                                                        />
                                                        <div
                                                            class="rightSection-spaces-window-tabs-check-box-container"
                                                            tabindex="5"
                                                        >
                                                            <span
                                                                class="rightSection-spaces-window-tabs-check-box check-box"
                                                            ></span>
                                                        </div>
                                                    </div>
                                                    <span class="rightSection-spaces-window-tabs-card-title"
                                                        >SsuJ-Chang/17TeSyun99: A dodging game & public chat room</span
                                                    >
                                                    <button
                                                        class="rightSection-spaces-window-tabs-card-close-button"
                                                    ></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rightSection-spaces-window-tabs-container">
                                    <div class="rightSection-spaces-window-tabs-box">
                                        <div class="rightSection-spaces-window-tabs-container-close-container">
                                            <span class="rightSection-spaces-window-tabs-container-close-title"
                                                >Are you sure you want to close this window?</span
                                            >
                                            <div
                                                class="rightSection-spaces-window-tabs-container-close-button-container"
                                            >
                                                <button class="rightSection-spaces-window-tabs-container-return-button">
                                                    <span class="rightSection-spaces-window-tabs-container-return-text"
                                                        >Cancel</span
                                                    >
                                                </button>
                                                <button class="rightSection-spaces-window-tabs-container-close-button">
                                                    <span class="rightSection-spaces-window-tabs-container-close-text"
                                                        >Yes, Close</span
                                                    >
                                                </button>
                                            </div>
                                        </div>
                                        <div class="rightSection-spaces-window-tabs-line">
                                            <div class="rightSection-spaces-window-tabs-left-block">
                                                <span class="rightSection-spaces-window-title">Window 1</span>
                                                <button
                                                    class="rightSection-spaces-window-fold-button"
                                                    tabindex="3"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapseExample"
                                                    aria-expanded="false"
                                                    aria-controls="collapseExample"
                                                >
                                                    <div class="arrow-right-svg"></div>
                                                    <div class="rightSection-spaces-window-arrow-down-svg"></div>
                                                </button>
                                            </div>
                                            <div class="rightSection-spaces-window-tabs-right-block">
                                                <div>
                                                    <span class="rightSection-spaces-window-tabs-download-container">
                                                        <button class="rightSection-spaces-window-tabs-download-button">
                                                            <div
                                                                class="rightSection-spaces-window-tabs-download-svg"
                                                            ></div>
                                                            <div
                                                                class="rightSection-spaces-window-tabs-download-tool-tips"
                                                            >
                                                                Save Session
                                                            </div>
                                                        </button>
                                                    </span>
                                                </div>
                                                <span class="rightSection-spaces-window-tabs-close-container">
                                                    <button class="rightSection-spaces-window-tabs-close-button">
                                                        <div class="rightSection-spaces-window-tabs-close-svg"></div>
                                                        <div class="rightSection-spaces-window-tabs-close-tool-tips">
                                                            Close
                                                        </div>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div
                                            class="rightSection-spaces-window-tabs-cards-container collapse"
                                            id="collapseExample"
                                        >
                                            <div class="rightSection-spaces-window-no-tab-container none">
                                                <div class="rightSection-spaces-window-no-tab">No tabs</div>
                                            </div>
                                            <div class="rightSection-spaces-window-tabs-card-frame">
                                                <div class="rightSection-spaces-window-tabs-card">
                                                    <div class="rightSection-spaces-window-tabs-url-image-container">
                                                        <img
                                                            class="rightSection-spaces-window-tabs-url-image"
                                                            src="https://github.githubassets.com/favicons/favicon-dark.svg"
                                                        />
                                                        <div
                                                            class="rightSection-spaces-window-tabs-check-box-container"
                                                            tabindex="5"
                                                        >
                                                            <span
                                                                class="rightSection-spaces-window-tabs-check-box check-box"
                                                            ></span>
                                                        </div>
                                                    </div>
                                                    <span class="rightSection-spaces-window-tabs-card-title"
                                                        >SsuJ-Chang/17TeSyun99: A dodging game & public chat room</span
                                                    >
                                                    <button
                                                        class="rightSection-spaces-window-tabs-card-close-button"
                                                    ></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script type="module" src="/js/main.js"></script>
        <script type="module" src="/js/axios.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
