<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tobicord Main Page</title>
        <link rel="shortcut icon" href="../images/tobicord2.png" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />
        <link href="/css/font.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/common.css" />
    </head>
    <body class="Tobicord">
        <div class="preload-back-ground"></div>
        <div class="mask none"></div>
        <div id="root">
            <div class="sectionBox" id="mainContainer">
                <section class="leftSection">
                    <button class="leftSection-fold-button-container">
                        <div class="leftSection-fold-button-svg svg-hover"></div>
                    </button>
                    <div class="leftSection-container">
                        <section class="leftSection-nav">
                            <div class="leftSection-nav-top"></div>
                            <button class="add-svg svg-gray svg-hover"></button>
                            <div class="leftSection-nav-bottom">
                                <div class="leftSection-nav-bottom-question-container" tabindex="-1">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-question-svg"></div>
                                    </div>
                                </div>
                                <div class="leftSection-nav-bottom-notice-container" tabindex="-1">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-notice-svg"></div>
                                    </div>
                                </div>
                                <section class="notice-popover-container">
                                    <div class="pointer"></div>
                                    <div class="notice-popover">
                                        <div>
                                            <div class="notice-popover-notice-button">Notification Panel</div>
                                            <div class="notice-popover-approve-button">Approval List</div>
                                        </div>
                                        <div class="notice-card-box-container"></div>
                                    </div>
                                </section>
                                <div class="leftSection-nav-bottom-user-container" tabindex="-1">
                                    <div class="leftSection-nav-bottom-button">
                                        <div class="leftSection-nav-bottom-user-svg"></div>
                                    </div>
                                    <section class="user-popover-container">
                                        <div class="user-popover">
                                            <div class="user-popover-account">
                                                <div class="user-popover-account-title">Account</div>
                                                <span class="user-popover-account-email">moonightear (tom54699@gmail.com)</span>
                                                <a class="user-popover-edit-account">Edit account</a>
                                                <a class="user-popover-change-password">Change Password</a>
                                            </div>
                                            <div class="user-popover-logout">
                                                <br />
                                                <a class="user-popover-logout-button">Log out</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <section class="leftSection-spaces">
                            <div class="leftSection-spaces-top">
                                <div class="leftSection-spaces-top-title-container">
                                    <div class="leftSection-spaces-top-title"></div>
                                </div>
                                <div class="leftSection-spaces-top-subtitle-container">
                                    <button class="leftSection-spaces-top-subtitle-gear-container">
                                        <div class="leftSection-spaces-top-subtitle-gear-svg svg-hover"></div>
                                    </button>
                                    <div class="leftSection-spaces-top-subtitle-addFriend-frame">
                                        <button class="leftSection-spaces-top-subtitle-addFriend-container">
                                            <div class="leftSection-spaces-top-subtitle-addFriend-svg svg-hover"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="leftSection-spaces-search">
                                <div class="leftSection-spaces-search-input-container">
                                    <div class="leftSection-spaces-search-input-container-glass-svg"></div>
                                    <input placeholder="Search organization" class="leftSection-spaces-search-input-container-input" />
                                    <button class="leftSection-spaces-search-input-container-button">
                                        <div class="leftSection-spaces-search-input-container-close-svg svg-hover"></div>
                                    </button>
                                </div>
                            </div>
                            <div class="leftSection-spaces-container">
                                <div class="leftSection-spaces-container-top">
                                    <div class="leftSection-spaces-container-top-title">Spaces</div>
                                    <div class="leftSection-spaces-container-top-button-container">
                                        <span class="leftSection-spaces-container-top-button">
                                            <div class="leftSection-spaces-container-top-add-tooltips">Create or Browse Spaces</div>
                                            <button class="leftSection-spaces-container-top-add-button">
                                                <div class="leftSection-spaces-container-top-add-svg"></div>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="leftSection-spaces-container-main">
                                    <div class="leftSection-spaces-container-main-card-container"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="middleSection">
                    <div class="middleSection-top">
                        <div class="middleSection-top-container">
                            <div class="middleSection-top-title">My Collections</div>
                            <span class="middleSection-top-subtitle"> | 1 collections</span>
                            <button class="middleSection-top-config-button">
                                <div class="middleSection-top-gear-svg svg-hover"></div>
                            </button>
                        </div>
                    </div>
                    <div class="middleSection-nav">
                        <div class="middleSection-nav-list">
                            <div class="middleSection-nav-tag-button-container">
                                <button class="middleSection-nav-button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="middleSection-nav-tag-svg"></div>
                                    <span>Tag Filter</span>
                                    <div class="arrow-down-svg"></div>
                                    <div class="arrow-up-svg"></div>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <span>Clear all Tags</span>
                                    </li>
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <div class="middleSection-nav-tag-svg"></div>
                                        <span> 奇幻</span>
                                        <button class="edit-svg-container">
                                            <div class="edit-svg"></div>
                                        </button>
                                    </li>
                                    <li class="dropdown-item middleSection-nav-dropdown-menu-li-container">
                                        <div class="middleSection-nav-tag-svg"></div>
                                        <span> 科幻</span>
                                        <button class="edit-svg-container">
                                            <div class="edit-svg"></div>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <button class="middleSection-nav-expand-button">
                                <span>EXPAND</span>
                            </button>
                            <button class="middleSection-nav-collapse-button">
                                <span>COLLAPSE</span>
                            </button>
                        </div>
                        <div class="middleSection-nav-add-button-container">
                            <button class="middleSection-nav-add-button">
                                <div class="add-svg svg-white"></div>
                                <span class="middleSection-nav-add-text">ADD COLLECTION</span>
                            </button>
                        </div>
                    </div>
                    <div class="middleSection-container">
                        <div>
                            <div class="middleSection-container-without-collection-box none">
                                <span>No collections shared with this space yet.</span>
                                <span>Add or share collections with your space and you will see them here.</span>
                                <button class="middleSection-container-add-first-collection-button"></button>
                            </div>
                            <div class="middleSection-container-collection-box none">
                                <div>
                                    <div class="middleSection-container-collection-cards-box"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="middleSection-tab-popover-container">
                        <span class="middleSection-tab-popover-title">(3 tabs selected)</span>
                        <button class="middleSection-tab-popover-move-button">
                            <div class="middleSection-tab-popover-move-svg"></div>
                            <span class="middleSection-tab-popover-move-text">MOVE</span>
                        </button>
                        <button class="middleSection-tab-popover-open-button">
                            <div class="middleSection-tab-popover-open-svg"></div>
                            <span class="middleSection-tab-popover-open-text">Open tabs</span>
                        </button>
                        <button class="middleSection-tab-popover-create-button">
                            <div class="middleSection-tab-popover-create-svg"></div>
                            <span class="middleSection-tab-popover-create-text">Create new collection</span>
                        </button>
                        <button class="middleSection-tab-popover-delete-button">
                            <div class="middleSection-tab-popover-delete-svg"></div>
                            <span class="middleSection-tab-popover-delete-text">DELETE</span>
                        </button>
                        <button class="middleSection-tab-popover-close-button">
                            <div class="middleSection-tab-popover-close-svg"></div>
                        </button>
                    </div>
                    <div class="middleSection-popover-container">
                        <div class="middleSection-add-category-popover-box">
                            <button class="middleSection-add-category-popover-box-close-svg-container">
                                <div class="middleSection-add-category-popover-box-close-svg"></div>
                            </button>
                            <div class="middleSection-add-category-popover-box-form-container">
                                <div class="middleSection-add-category-popover-box-form">
                                    <h3 class="middleSection-add-category-popover-box-form-title">Create an Organization</h3>
                                    <div class="middleSection-add-category-popover-box-form-name-input-container">
                                        <h5 class="middleSection-add-category-popover-box-form-name-input-title">Name your organization</h5>
                                        <input
                                            class="middleSection-add-category-popover-box-form-name-input"
                                            placeholder="Organization name"
                                        />
                                        <span class="middleSection-add-category-popover-box-form-name-input-alert none"
                                            >Organization name must be greater than 1 character</span
                                        >
                                    </div>
                                    <div class="middleSection-add-category-popover-box-form-invite-input-container">
                                        <h5 class="middleSection-add-category-popover-box-form-invite-input-title">Invite team members</h5>
                                        <div class="middleSection-add-category-popover-box-form-invite-input-box">
                                            <div class="middleSection-add-category-popover-box-form-invite-svg"></div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <input
                                                            class="middleSection-add-category-popover-box-form-invite-input"
                                                            placeholder="Type names or emails of team members"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="middleSection-add-category-popover-box-form-button-container">
                                        <button class="middleSection-add-category-popover-box-form-cancel-button">
                                            <span>Cancel</span>
                                        </button>
                                        <button class="middleSection-add-category-popover-box-form-create-button">
                                            <span>Create</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organization-setting-popover-box">
                            <button class="organization-setting-popover-box-close-svg-container">
                                <div class="organization-setting-popover-box-close-svg"></div>
                            </button>
                            <div>
                                <div>
                                    <div class="organization-setting-popover-left-nav-box">
                                        <span class="organization-setting-popover-preference-button">Preferences</span>
                                        <span class="organization-setting-popover-member-button">Members</span>
                                    </div>
                                    <div class="organization-setting-popover-right-box">
                                        <h3 class="organization-setting-popover-right-box-title"></h3>
                                        <div class="organization-setting-popover-right-box-name">
                                            <h4>organization Name</h4>
                                            <form class="organization-setting-popover-right-box-edit-name-form">
                                                <div>
                                                    <div>
                                                        <input
                                                            class="organization-setting-popover-right-box-edit-name-input"
                                                            placeholder="Type Name"
                                                            disabled
                                                            value=""
                                                        />
                                                    </div>
                                                    <span class="organization-setting-popover-right-box-edit-name-alert none"
                                                        >Organization name must be greater than 1 character</span
                                                    >
                                                </div>
                                                <a class="organization-setting-popover-right-box-edit-button">Edit</a>
                                                <div class="organization-setting-popover-right-box-save-button-box none">
                                                    <button class="organization-setting-popover-right-box-save-cancel-button" type="button">
                                                        <span>Cancel</span>
                                                    </button>
                                                    <button class="organization-setting-popover-right-box-save-button" type="button">
                                                        <span>Save</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="organization-setting-popover-right-box-theme">
                                            <h4>Theme</h4>
                                            <a class="organization-setting-popover-right-box-theme-change-button">Change</a>
                                            <span>
                                                <div>
                                                    <div></div>
                                                    <span>pink (Default)</span>
                                                </div>
                                            </span>
                                        </div>
                                        <div class="organization-setting-popover-right-box-Delete">
                                            <h4>Delete Organization</h4>
                                            <a class="organization-setting-popover-right-box-Delete-button">Delete Organization</a>
                                            <span>Once you delete the organization, there is no going back.</span>
                                        </div>
                                        <button class="organization-setting-popover-right-box-close-button">
                                            <span>Close</span>
                                        </button>
                                    </div>
                                    <div class="organization-member-popover-right-box none">
                                        <div>
                                            <h2 class="organization-member-popover-right-box-title">動漫畫 Members</h2>
                                            <div>
                                                <h2 class="organization-member-popover-right-box-member-count">ORGANIZATION MEMBERS (2)</h2>
                                                <button class="organization-member-popover-right-box-add-friend-svg-container">
                                                    <span>
                                                        <div class="organization-member-popover-right-box-add-friend-svg"></div>
                                                    </span>
                                                    Add Members
                                                </button>
                                            </div>
                                            <div class="organization-member-popover-right-box-main-container">
                                                <div>
                                                    <div class="organization-member-popover-right-box-main-container-title">
                                                        <h2>MEMBER</h2>
                                                        <h2>PERMISSIONS</h2>
                                                    </div>
                                                    <div>
                                                        <div class="organization-member-popover-right-box-member-card-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="organization-member-popover-right-box-close-button">Close</button>
                                        </div>
                                    </div>
                                    <div class="organization-member-edit-permission-popover-right-box none">
                                        <div>
                                            <h2>Edit Organization Permissions</h2>
                                            <p>
                                                Edit<b class="organization-member-edit-permission-member-name"></b>
                                                account type within
                                                <b class="organization-member-edit-permission-organization-name"> 動漫畫</b>.
                                            </p>
                                            <div class="organization-member-edit-permission-popover-right-box-main-container">
                                                <div>
                                                    <span id="permission-manager"></span>
                                                </div>
                                                <div>
                                                    <p>Manager</p>
                                                    <p>
                                                        An manager can read tabs, add tabs, edit tabs, create collections, share
                                                        collections, create/delete spaces, edit space names, invite members to organization,
                                                        delete members from organization, and approve invitation of invitee.
                                                    </p>
                                                </div>
                                                <div>
                                                    <span id="permission-member"></span>
                                                </div>
                                                <div>
                                                    <p>Member(default)</p>
                                                    <p>
                                                        A full member can read tabs, add tabs, edit tabs, create collections, share
                                                        collections, invite members to organization.
                                                    </p>
                                                </div>
                                                <div>
                                                    <span id="permission-visitor"></span>
                                                </div>
                                                <div>
                                                    <p>Visitor</p>
                                                    <p>A visitor can only read tabs.</p>
                                                </div>
                                            </div>
                                            <div>
                                                <button class="organization-member-edit-permission-popover-right-box-back-button">
                                                    Back
                                                </button>
                                                <div class="organization-member-edit-permission-popover-right-box-alert-message"></div>
                                                <button class="organization-member-edit-permission-popover-right-box-save-button">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organization-delete-popover-box">
                            <button class="organization-delete-popover-box-close-svg-container">
                                <div class="organization-delete-popover-box-close-svg"></div>
                            </button>
                            <div>
                                <div class="organization-delete-popover-container">
                                    <h3>Are you sure you want to delete<b class="organization-delete-name"></b>?</h3>
                                    <div>
                                        <span
                                            >When you delete an organization you will be permanently deleting all collections, notes, and
                                            tags for everyone invite and shared.</span
                                        >
                                    </div>
                                    <span>Please type<b class="organization-delete-name"></b> to confirm deletion</span>
                                    <div>
                                        <div>
                                            <div>
                                                <input class="organization-delete-name-double-check-input" placeholder="Type Name" />
                                            </div>
                                        </div>
                                        <span class="organization-delete-name-double-check-alert">Unauthorized Role</span>
                                    </div>
                                    <button id="organization-delete-confirm-button" class="organization-delete-confirm-button" disabled>
                                        <span class="organization-delete-confirm-text">I understand and want to delete organization</span>
                                    </button>
                                    <button class="organization-delete-popover-box-cancel-button">
                                        <span>No, thanks</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="organization-success-delete-popover-box">
                            <button class="organization-success-delete-popover-box-close-svg-container">
                                <div class="organization-success-delete-popover-box-close-svg"></div>
                            </button>
                            <h4 class="organization-success-delete-text">"999" Deleted</h4>
                            <div>
                                <button class="organization-success-delete-popover-box-close-button">
                                    <span>Done</span>
                                </button>
                            </div>
                        </div>
                        <div class="space-create-popover-box">
                            <button class="space-create-popover-box-close-svg-container">
                                <div class="space-create-popover-box-close-svg"></div>
                            </button>
                            <div>
                                <form class="space-create-popover-container">
                                    <h3>Create a Space</h3>
                                    <div>
                                        <h5>Name your space</h5>
                                        <input class="space-create-name-input" placeholder="Space name" />
                                        <span class="space-create-name-input-alert none">Space name must be greater than 1 character</span>
                                    </div>
                                    <div class="space-create-popover-box-form-button-container">
                                        <button type="button" class="space-create-popover-box-form-cancel-button">
                                            <span>Cancel</span>
                                        </button>
                                        <button type="button" class="space-create-popover-box-form-create-button">
                                            <span>Create</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="space-setting-popover-box">
                            <button class="space-setting-popover-box-close-svg-container">
                                <div class="space-setting-popover-box-close-svg"></div>
                            </button>
                            <div>
                                <div>
                                    <h3>Add team members to<b class="space-setting-name"></b></h3>
                                    <div>
                                        <span class="space-setting-popover-box-preference-button">Preferences</span>
                                        <span class="space-setting-popover-box-member-button">Members</span>
                                    </div>
                                    <div>
                                        <div class="space-setting-popover-container">
                                            <div>
                                                <h4>Space Name</h4>
                                                <form class="space-setting-popover-container-edit-name-form">
                                                    <div>
                                                        <div>
                                                            <input
                                                                class="space-setting-popover-container-edit-name-input"
                                                                placeholder="Type Name"
                                                                disabled
                                                                value=""
                                                            />
                                                        </div>
                                                        <span class="space-setting-popover-container-edit-name-alert none"
                                                            >Organization name must be greater than 1 character</span
                                                        >
                                                    </div>
                                                    <a class="space-setting-popover-container-edit-button">Edit</a>
                                                    <div class="space-setting-popover-container-save-button-box none">
                                                        <button class="space-setting-popover-container-save-cancel-button" type="button">
                                                            <span>Cancel</span>
                                                        </button>
                                                        <button class="space-setting-popover-container-save-button" type="button">
                                                            <span>Save</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                                <h4>Leave Space</h4>
                                                <a>Leave Space</a>
                                                <span>Once you leave the space, you will need to be invited back to join again.</span>
                                            </div>
                                            <div>
                                                <h4>Delete Space</h4>
                                                <a class="space-setting-popover-box-delete-button">Delete Space</a>
                                                <span>Once you delete the space, there is no going back.</span>
                                            </div>
                                        </div>
                                        <button class="space-setting-popover-box-close-button">
                                            <span>CLOSE</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-delete-popover-box">
                            <button class="space-delete-popover-box-close-svg-container">
                                <div class="space-delete-popover-box-close-svg"></div>
                            </button>
                            <div>
                                <div class="space-delete-popover-container">
                                    <h3>Are you sure you want to delete<b class="space-delete-name"></b>?</h3>
                                    <div>
                                        <span
                                            >When you delete a space all members may lose access to collections shared with this space</span
                                        >
                                    </div>
                                    <span>Please type<b class="space-delete-name"></b> to confirm deletion</span>
                                    <div>
                                        <div>
                                            <div>
                                                <input class="space-delete-name-double-check-input" placeholder="Type Name" />
                                            </div>
                                        </div>
                                        <span class="space-delete-name-double-check-input-alert">Unauthorized Role</span>
                                    </div>
                                    <button id="space-delete-confirm-button" class="space-delete-confirm-button" disabled>
                                        <span class="space-delete-confirm-text">I understand and want to delete space</span>
                                    </button>
                                    <button class="space-delete-popover-box-cancel-button">
                                        <span>No, thanks</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="space-success-delete-popover-box">
                            <button class="space-success-delete-popover-box-close-svg-container">
                                <div class="space-success-delete-popover-box-close-svg"></div>
                            </button>
                            <h4 class="space-success-delete-text">"999" Deleted</h4>
                            <div>
                                <button class="space-success-delete-popover-box-close-button">
                                    <span>Done</span>
                                </button>
                            </div>
                        </div>
                        <div class="collection-delete-popover-box">
                            <button class="collection-delete-popover-box-close-svg-container">
                                <div class="collection-delete-popover-box-close-svg"></div>
                            </button>
                            <h4 class="collection-delete-popover-box-title">Delete 1 collection?</h4>
                            <div>
                                <span class="collection-delete-popover-box-text"
                                    >Are you sure you want to delete 1 collection from 666?</span
                                >
                            </div>
                            <div>
                                <button class="collection-delete-popover-box-cancel-button">
                                    <span>No, Cancel</span>
                                </button>
                                <button class="collection-delete-popover-box-delete-button">
                                    <span>Yes, Delete</span>
                                </button>
                            </div>
                        </div>
                        <div class="tab-card-edit-popover-box">
                            <div>
                                <h4>Title</h4>
                                <div>
                                    <div>
                                        <input
                                            class="tab-card-edit-popover-box-title-input"
                                            placeholder="Type title"
                                            value="WeHelp 軟體工程師扶持計畫"
                                            tabindex="-1"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h4>URL</h4>
                                <div>
                                    <div>
                                        <input
                                            class="tab-card-edit-popover-box-url-input"
                                            placeholder="Type URL"
                                            value="https://wehelp.tw/"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h4>Description</h4>
                                <textarea class="tab-card-edit-popover-box-description-input" placeholder="Type description">
WeHelp 軟體工程師扶持計畫</textarea
                                >
                            </div>
                            <div>
                                <button class="tab-card-edit-popover-box-delete-button">
                                    <div class="tab-card-edit-popover-box-delete-svg"></div>
                                    Delete
                                </button>
                                <button class="tab-card-edit-popover-box-cancel-button">Cancel</button>
                                <button class="tab-card-edit-popover-box-save-button">Save</button>
                            </div>
                        </div>
                        <div class="collection-export-popover-box">
                            <button class="collection-export-popover-box-close-svg-container">
                                <div class="collection-export-popover-box-close-svg"></div>
                            </button>
                            <h4>Choose an exporting option for your account</h4>
                            <div>
                                <div class="collection-export-popover-box-container">
                                    <div>Export your collections and collections shared with you.</div>
                                    <div>Note: .JSON files are ideal for transfering Toby accounts</div>
                                    <button class="collection-export-popover-box-json-button">
                                        .JSON<br /><span>Best for transfering Toby accounts</span>
                                    </button>
                                    <button class="collection-export-popover-box-html-button">
                                        .HTML<br /><span>Most compatible with bookmarks</span>
                                    </button>
                                    <button class="collection-export-popover-box-txt-button">.TXT<br /><span>Basic URL list</span></button>
                                </div>
                                <div class="collection-export-popover-box-cancel-button-box">
                                    <button class="collection-export-popover-box-cancel-button">
                                        <span>Cancel</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="no-permission-popover-box">
                            <button class="no-permission-popover-box-close-svg-container">
                                <div class="no-permission-popover-box-close-svg"></div>
                            </button>
                            <h4 class="no-permission-popover-box-text">Unauthorized Role</h4>
                            <div>
                                <button class="no-permission-popover-box-close-button">
                                    <span>Done</span>
                                </button>
                            </div>
                        </div>
                        <div class="invite-member-popover-box">
                            <button class="invite-member-popover-box-close-svg-container">
                                <div class="invite-member-popover-box-close-svg"></div>
                            </button>
                            <div class="invite-member-popover-box-form-container">
                                <div class="invite-member-popover-box-form">
                                    <h3 class="invite-member-popover-box-form-title">Add members to 動漫畫</h3>
                                    <div class="invite-member-popover-box-form-invite-input-container">
                                        <h5 class="invite-member-popover-box-form-invite-input-title">Invite team members</h5>
                                        <div class="invite-member-popover-box-form-invite-input-box">
                                            <div class="invite-member-popover-box-form-invite-svg"></div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <input
                                                            class="invite-member-popover-box-form-invite-input"
                                                            placeholder="Type emails of team members"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="invite-member-popover-box-form-invite-input-alert"
                                            >Invalid Email, Please try again!</span
                                        >
                                    </div>
                                    <div class="invite-member-popover-box-form-button-container">
                                        <button class="invite-member-popover-box-form-cancel-button">
                                            <span>BACK</span>
                                        </button>
                                        <button class="invite-member-popover-box-form-add-button">
                                            <span>ADD MEMBERS</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-card-manually-add-popover-box">
                            <div>
                                <h4>Title</h4>
                                <div>
                                    <div>
                                        <input
                                            class="tab-card-manually-add-popover-box-title-input"
                                            placeholder="Type title"
                                            tabindex="-1"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h4>URL</h4>
                                <div>
                                    <div>
                                        <input class="tab-card-manually-add-popover-box-url-input" placeholder="Type url" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h4>Description</h4>
                                <textarea
                                    class="tab-card-manually-add-popover-box-description-input"
                                    placeholder="Type description"
                                ></textarea>
                            </div>
                            <div>
                                <button class="tab-card-manually-add-popover-box-delete-button">
                                    <div class="tab-card-manually-add-popover-box-delete-svg"></div>
                                    Delete
                                </button>
                                <button class="tab-card-manually-add-popover-box-cancel-button">Cancel</button>
                                <button class="tab-card-manually-add-popover-box-save-button">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="middleSection-collection-menu-popover-container">
                        <span class="middleSection-collection-menu-popover-container-title">(0 collections selected)</span>
                        <button class="middleSection-collection-menu-popover-move-button">
                            <div></div>
                            <span>MOVE</span>
                        </button>
                        <button class="middleSection-collection-menu-popover-merge-button">
                            <div></div>
                            <span>MERGE</span>
                        </button>
                        <button class="middleSection-collection-menu-popover-export-button">
                            <div></div>
                            <span>EXPORT</span>
                        </button>
                        <button class="middleSection-collection-menu-popover-delete-button">
                            <div></div>
                            <span>DELETE</span>
                        </button>
                        <button class="middleSection-collection-menu-popover-close-button">
                            <div></div>
                        </button>
                    </div>
                    <div class="middleSection-tab-card-menu-popover-container">
                        <span class="middleSection-tab-card-popover-title">(3 tabs selected)</span>
                        <button class="middleSection-tab-card-popover-move-button">
                            <div class="middleSection-tab-card-popover-move-svg"></div>
                            <span class="middleSection-tab-card-popover-move-text">MOVE</span>
                        </button>
                        <button class="middleSection-tab-card-popover-open-button">
                            <div class="middleSection-tab-card-popover-open-svg"></div>
                            <span class="middleSection-tab-card-popover-open-text">Open tabs</span>
                        </button>
                        <button class="middleSection-tab-card-popover-create-button">
                            <div class="middleSection-tab-card-popover-create-svg"></div>
                            <span class="middleSection-tab-card-popover-create-text">Create new collection</span>
                        </button>
                        <button class="middleSection-tab-card-popover-delete-button">
                            <div class="middleSection-tab-card-popover-delete-svg"></div>
                            <span class="middleSection-tab-card-popover-delete-text">DELETE</span>
                        </button>
                        <button class="middleSection-tab-card-popover-close-button">
                            <div class="middleSection-tab-card-popover-close-svg"></div>
                        </button>
                    </div>
                </section>
                <section class="rightSection">
                    <button class="rightSection-fold-button">
                        <div class="rightSection-fold-button-svg svg-hover"></div>
                    </button>
                    <div class="rightSection-container">
                        <div class="rightSection-nav">
                            <div class="rightSection-nav-title">Reload</div>
                            <div class="reload-svg-container">
                                <div class="reload-svg"></div>
                            </div>
                        </div>
                        <div class="rightSection-spaces">
                            <div class="rightSection-spaces-manually-add-tab-card">
                                <div class="rightSection-spaces-window-tabs-box">
                                    <div class="rightSection-spaces-window-tabs-line">
                                        <div class="rightSection-spaces-window-tabs-left-block">
                                            <span class="rightSection-spaces-manually-window-title">手動新增網址卡片</span>
                                            <button
                                                class="rightSection-spaces-window-fold-button"
                                                tabindex="-1"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#manually-add-tabs-cards"
                                                aria-expanded="false"
                                                aria-controls="#manually-add-tabs-cards"
                                            >
                                                <div class="arrow-right-svg"></div>
                                                <div class="rightSection-spaces-window-arrow-down-svg"></div>
                                            </button>
                                        </div>
                                        <div class="rightSection-spaces-window-tabs-right-block">
                                            <div class="rightSection-spaces-window-tabs-container-top-add-svg"></div>
                                        </div>
                                    </div>
                                    <div
                                        class="rightSection-spaces-window-tabs-cards-container-manually-add collapse"
                                        id="manually-add-tabs-cards"
                                    ></div>
                                </div>
                            </div>
                            <div class="rightSection-spaces-window-container">
                                <!-- Window Tab Cards-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script type="module" src="/js/main.js"></script>
        <script type="module" src="/js/API/axios-interceptors.js"></script>
        <script type="module" src="/js/API/fetchApi.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
            integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
