<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-lock-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">漫畫</div>
</div>
<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-folder-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">動畫</div>
</div>
