<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-lock-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">漫畫</div>
</div>
<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-folder-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">動畫</div>
</div>

<!-- tab card  -->>

<div class="middleSection-container-collection-card-container-cards-space">
    <div class="middleSection-container-collection-tab-card-box">
        <div class="middleSection-container-collection-tab-card-container">
            <div class="middleSection-container-collection-tab-card">
                <div class="middleSection-container-collection-tab-card-title">
                    <div class="middleSection-container-collection-tab-card-check-box">
                        <span></span>
                    </div>
                    <div class="middleSection-container-collection-tab-card-image"></div>
                    <h5 class="middleSection-container-collection-tab-card-text">WeHelp 軟體工程師扶持計畫</h5>
                </div>
                <div class="middleSection-container-collection-tab-card-cancel-description">
                    <span class="middleSection-container-collection-tab-card-cancel-description-text"
                        >WeHelp 軟體工程師扶持計畫</span
                    >
                </div>
                <button class="middleSection-container-collection-tab-card-cancel-button"></button>
                <button class="middleSection-container-collection-tab-card-edit-button"></button>
            </div>
        </div>
    </div>
</div>

/* create */

<div class="middleSection-container-add-collection-box none">
    <div class="middleSection-container-add-collection-container">
        <input class="middleSection-container-add-Name-input" type="text" placeholder="Type the collection title" />
        <div class="middleSection-container-add-collection-box-save-button-box">
            <button class="middleSection-container-add-collection-box-save-cancel-button" type="button">
                <span>Cancel</span>
            </button>
            <button class="middleSection-container-add-collection-box-save-button" type="button">
                <span>Save</span>
            </button>
        </div>
    </div>
    <div
        id="middleSection-container-remind-add-collection-box"
        class="middleSection-container-remind-add-collection-box"
    ></div>
</div>
/* ------ collection card-------*/
<div class="middleSection-container-collection-card-box">
    <div class="middleSection-container-collection-card-box-hover">
        <div>
            <div class="middleSection-container-collection-card-box-check-box">
                <span></span>
            </div>
            <div class="middleSection-container-collection-card-container">
                <div class="middleSection-container-collection-card-container-nav">
                    <!--Collection Title-->
                    <div class="middleSection-container-collection-card-container-nav-title none">
                        <h3 class="middleSection-container-collection-card-container-nav-title-text">
                            Untitled collection
                        </h3>
                        <div class="middleSection-container-collection-card-container-nav-arrow-svg-container">
                            <button class="middleSection-container-collection-card-container-nav-arrow-svg-button">
                                <div class="middleSection-container-collection-card-container-nav-arrow-down-svg"></div>
                                <div class="middleSection-container-collection-card-container-nav-arrow-up-svg"></div>
                            </button>
                        </div>
                    </div>
                    <!-- Edit Name -->
                    <div class="middleSection-container-add-collection-container">
                        <input
                            class="middleSection-container-add-Name-input"
                            type="text"
                            placeholder="Type the collection title"
                        />
                        <div class="middleSection-container-add-collection-box-save-button-box">
                            <button class="middleSection-container-add-collection-box-save-cancel-button" type="button">
                                <span>Cancel</span>
                            </button>
                            <button class="middleSection-container-add-collection-box-save-button" type="button">
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                    <!-- buttons -->
                    <div class="middleSection-container-collection-card-container-nav-buttons-box none">
                        <div>
                            <span class="middleSection-card-container-nav-opentab-button">
                                <div class="middleSection-card-container-nav-opentab-tooltips">Open tabs</div>
                                <div>
                                    <div></div>
                                </div>
                            </span>
                        </div>
                        <div>
                            <span class="middleSection-card-container-nav-more-button">
                                <div class="middleSection-card-container-nav-more-tooltips">More</div>
                                <div>
                                    <div></div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Remind -->
                <div
                    id="middleSection-container-remind-add-collection-box"
                    class="middleSection-container-remind-add-collection-box"
                ></div>
            </div>
        </div>
    </div>
</div>

<---->

<div class="middleSection-container-collection-cards-delete-box">
    <div>
        <span>Remove this collection? It will be removed for all shared members.</span>
        <div class="middleSection-container-collection-cards-delete-buttons-box">
            <button class="middleSection-container-collection-cards-cancel-buttons">
                <span>Cancel</span>
            </button>
            <button class="middleSection-container-collection-cards-delete-buttons">
                <span>Delete</span>
            </button>
        </div>
    </div>
</div>
