<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-lock-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">漫畫</div>
</div>
<div class="leftSection-spaces-container-main-card" tabindex="-1">
    <button class="leftSection-spaces-container-main-card-button">
        <div class="leftSection-spaces-container-main-card-folder-svg svg-focus"></div>
    </button>
    <div class="leftSection-spaces-container-main-card-title">動畫</div>
</div>

<!--  card  -->>

<div class="middleSection-container-collection-card-container-cards-space">
    <div class="middleSection-container-collection-tab-card-box">
        <div class="middleSection-container-collection-tab-card-container">
            <div class="middleSection-container-collection-tab-card">
                <div class="middleSection-container-collection-tab-card-title">
                    <div class="middleSection-container-collection-tab-card-check-box">
                        <span></span>
                    </div>
                    <div class="middleSection-container-collection-tab-card-image"></div>
                    <h5 class="middleSection-container-collection-tab-card-text">WeHelp 軟體工程師扶持計畫</h5>
                </div>
                <div class="middleSection-container-collection-tab-card-cancel-description">
                    <span class="middleSection-container-collection-tab-card-cancel-description-text"
                        >WeHelp 軟體工程師扶持計畫</span
                    >
                </div>
                <button class="middleSection-container-collection-tab-card-cancel-button"></button>
                <button class="middleSection-container-collection-tab-card-edit-button"></button>
            </div>
        </div>
    </div>
</div>
