@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500");

body {
    margin: 0rem;
    color: #7b7b9f;
    background-color: #fff;
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: auto;
    zoom: 0.8;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: top 0.6s;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.header > div:nth-child(1) {
    margin: auto;
    background-color: #fff;
    max-width: 80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem;
}
.logo > a {
    display: inline-block;
    margin: 0 auto;
    padding-left: 4.5rem;
    min-width: 8rem;
    min-height: 4rem;
    color: #f9527b;
    font-size: 28px;
    font-weight: 900;
    line-height: 4rem;
    text-decoration: none;
    cursor: pointer;
}
.logo:hover {
    scale: 1.1;
}
.nav-bar-container {
    flex: 1 1 auto;
    padding: 0;
    list-style: none;
    font-weight: 600;
    letter-spacing: 0.24px;
}
.nav-bar-container > div:nth-child(1) {
    padding-left: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nav-bar-container > div:nth-child(1) > div:nth-child(1) {
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 1.375rem;
}
.nav-feature,
.nav-extension {
    padding: 0.5rem 1rem;
    color: #7a7a9e;
    font-size: 1rem;
    letter-spacing: 0.24px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}
.nav-bar-container > div:nth-child(1) > div:nth-child(2) {
    border-left: 1px solid rgb(183, 183, 206);
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 1.375rem;
}
.nav-open-tobicord {
    color: #fff;
    background-color: #fa507b;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(12, 12, 129, 0.05);
    transform: scale(1.05, 1.05);
    padding: 0.6rem 1.1rem;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 1px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    width: min-content;
    transition: all 0.1s ease-out;
}
.main {
    top: 104px;
    position: relative;
    margin-bottom: 104px;
}
.shadow-gradient {
    background: radial-gradient(2234.78% 98.1% at 50% 0%, #ececec 0%, #ffffff 100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 20px;
    opacity: 0.4;
}
.banner {
    justify-items: center;
    width: 100%;
    display: grid;
}
.banner > div {
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    display: grid;
    text-align: center;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 2rem;
}
.banner-title {
    color: #fa507b;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 4.1875rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.banner-content {
    color: #7a7a9e;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.875rem;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.banner-button-container {
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.banner-open-tobicord,
.banner-extension {
    margin-bottom: 1rem;
    box-shadow: 0 5px 20px 0 rgba(250, 80, 123, 0.41);
    padding: 0.8rem 2.2rem;
    display: inline-block;
    position: relative;
    color: #fff;
    background-color: #fa507b;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: all 0.1s ease-out;
    font-size: 1.125rem;
    width: min-content;
}
.feature-background-extension {
    background: rgba(110, 95, 191, 0.06);
}
.feature-background-tabs-collection {
    direction: rtl;
}
.feature-extension {
    position: relative;
    min-width: 0px;
    grid-template-columns: repeat(auto-fit, minmax(402.5px, 1fr));
    grid-gap: 4rem;
    justify-items: center;
    width: 100%;
    display: grid;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
    padding-top: 8rem;
}
.feature-extension-content {
    direction: ltr;
}
.feature-extension-content > h5 {
    color: #6e5fbf;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.feature-extension-content > h6 {
    color: #6e5fbf;
    font-weight: 500;
    font-size: 1.5625rem;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.feature-background {
    padding-top: 12rem;
    padding-bottom: 10rem;
    position: relative;
    background-color: #fa507b;
    margin-right: -1rem;
    margin-left: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.feature-background > div:nth-child(1) {
    grid-gap: 2rem;
    justify-items: center;
    align-items: center;
    width: 100%;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.feature-background > div:nth-child(1) > h2 {
    color: #fff;
    font-size: 3.4375rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.feature-background > div:nth-child(1) > h5 {
    color: #fff;
    opacity: 0.6;
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.feature-extension-button-container {
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 1rem 2rem;
    padding-left: 1rem;
    color: #fa507b;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(250, 80, 123, 0.41);
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: all 0.1s ease-out;
    width: min-content;
}
.feature-extension-button-container:hover {
    text-decoration: none;
    box-shadow: 0 5px 10px rgb(12 12 129 / 5%);
    transform: scale(1.05, 1.05);
}
.feature-extension-button-container > span {
    display: flex;
    align-items: center;
}
.feature-extension-button-container > span > img {
    display: inline-block;
    margin-right: 1rem;
    max-width: 2rem;
}
.footer {
    position: relative;
    background-color: #444462;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > div {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.feature-extension-gif {
    width: 500px;
    scale: 1.2;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 rgba(24, 19, 20, 0.41);
}
.feature-gif {
    scale: 1.1;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 rgba(24, 19, 20, 0.41);
}
.feature-share-gif {
    width: 500px;
    scale: 1.4;
    border-radius: 10px;
    box-shadow: 0 15px 15px 0 rgba(24, 19, 20, 0.41);
}
