@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
    outline: none !important;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button {
    border: none;
    background: rgba(0, 0, 0, 0);
}
body {
    min-width: 15rem;
    min-height: 30rem;
    background-color: #fff;
    color: rgb(247, 243, 243);
    font-family: "Noto Sans TC", Arial, sans-serif;
    overflow: hidden;
}
.Tobicord {
    background-color: #36393f;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
#root {
    height: 100%;
}
.preload-back-ground {
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff url("../images/preloadedBg.png");
    background-position: center;
    background-repeat: no-repeat;
}
.sectionBox {
    display: grid;
    grid-template-columns: min-content minmax(0px, 1fr) min-content;
    grid-template-rows: 100%;
    background-color: rgb(30, 30, 38);
    height: 100%;
    position: relative;
}
.leftSection {
    z-index: 2000;
    position: relative;
    height: 100%;
    width: 280px;
    transition: none 0s ease 0s;
    background-color: #1e1e26;
}
.leftSection-container {
    display: flex;
    height: 100%;
    position: relative;
}
.leftSection-fold-button-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 6.5px;
    right: 5px;
    background-color: #1e1e26;
}
.leftSection-fold-button-container-reverse {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    right: -20px;
    top: 6.5px;
    border-radius: 99px;
    box-shadow: rgb(112 112 140 / 15%) -2px 0px 2px;
    transform: rotate(180deg);
    background-color: rgb(30, 30, 38);
}
.leftSection-fold-button-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/leftFold.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/leftFold.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px;
    flex-shrink: 0;
    width: 60px;
    background-color: #1e1e26;
}
.leftSection-nav-top {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden auto;
    width: 100%;
}
.leftSection-nav-top-category-container {
    cursor: grab;
    opacity: 1;
    position: relative;
}
.leftSection-nav-top-category-button {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1px 6px 1px 6px;
    position: relative;
}
.leftSection-nav-top-category-button:focus::after {
    content: " ";
    position: absolute;
    background: rgb(214, 73, 107);
    border-radius: 1px;
    width: 4px;
    height: 40px;
    right: 0px;
}
.leftSection-nav-top-category-button:focus .leftSection-nav-top-category {
    box-shadow: none;
}
.leftSection-nav-top-category {
    background: rgb(214, 73, 107);
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
    box-sizing: border-box;
    border-radius: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.leftSection-nav-top-category:hover {
    box-shadow: none;
}
.leftSection-nav-top-category-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.leftSection-nav-bottom {
    display: grid;
    margin-top: auto;
    grid-auto-flow: row;
    -webkit-box-align: center;
    place-items: center;
    gap: 16px;
    width: 100%;
}
.leftSection-nav-bottom-user-container,
.leftSection-nav-bottom-notice-container,
.leftSection-nav-bottom-question-container {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 1px 6px 1px 6px;
}
.leftSection-nav-bottom-button {
    background: rgb(124, 124, 154);
    box-sizing: border-box;
    border-radius: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.leftSection-nav-bottom-button:hover {
    background: rgb(214, 73, 107);
}
.leftSection-nav-bottom-user-container:focus .leftSection-nav-bottom-button,
.leftSection-nav-bottom-notice-container:focus .leftSection-nav-bottom-button,
.leftSection-nav-bottom-question-container:focus .leftSection-nav-bottom-button {
    background: rgb(214, 73, 107);
}
.leftSection-nav-bottom-user-container:focus::after,
.leftSection-nav-bottom-notice-container:focus:after,
.leftSection-nav-bottom-question-container:focus::after {
    content: " ";
    position: absolute;
    background: rgb(214, 73, 107);
    border-radius: 1px;
    width: 4px;
    height: 40px;
    right: 0px;
}
.leftSection-nav-bottom-user-container:focus .user-popover::before {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(-45deg);
    background-color: rgb(63, 65, 77);
    border-left: 1px solid rgb(63, 65, 77);
    border-top: 1px solid rgb(63, 65, 77);
    left: -0.6rem;
    bottom: 1rem;
    content: "";
}
.leftSection-nav-bottom-user-container:focus .user-popover-container {
    display: block;
}
.leftSection-nav-bottom-question-svg {
    width: 16px;
    height: 24px;
    mask: url("../images/questionMark.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/questionMark.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.leftSection-nav-bottom-notice-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/bell.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/bell.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.leftSection-nav-bottom-user-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/user.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/user.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.user-popover-container {
    display: none;
}
.user-popover {
    position: absolute;
    bottom: 0rem;
    left: 4rem;
    width: 32rem;
    background: rgb(63, 65, 77);
    border: 1px solid rgb(33, 33, 42);
    box-shadow: rgb(0 0 0 / 17%) 1px 2px 4px 0px;
    border-radius: 5px;
    z-index: 1000;
    flex-direction: column;
    padding: 0rem 1.3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "ga_account ga_logout"
        "ga_general ga_data"
        "ga_about ga_help"
        "ga_policies ga_spread";
    animation: 0.2s cubic-bezier(0.68, 1, 0.265, 2) 0s 1 normal forwards running kqXsXg;
    display: grid;
}
.user-popover-account {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(33, 33, 42);
    gap: 15px;
    overflow: hidden;
    grid-area: ga_account / ga_account / ga_account / ga_account;
}
.user-popover-account-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 14px;
    color: rgb(183, 183, 206);
}
.user-popover-account-email {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: rgb(183, 183, 206);
    white-space: nowrap;
}
.user-popover-edit-account {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    color: rgb(183, 183, 206);
}
.user-popover-change-password {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    color: rgb(183, 183, 206);
}
.user-popover-logout {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(33, 33, 42);
    gap: 15px;
    overflow: hidden;
    grid-area: ga_logout / ga_logout / ga_logout / ga_logout;
}
.user-popover-logout-button {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    overflow: unset;
    text-overflow: unset;
    color: rgb(183, 183, 206);
    white-space: nowrap;
    align-self: flex-end;
}
.leftSection-spaces {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: visible;
    width: 220px;
    flex-shrink: 0;
    border-left: 1px solid rgb(73, 73, 92);
    border-right: 1px solid rgb(73, 73, 92);
    background-color: #1e1e26;
}
.leftSection-spaces-top {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.leftSection-spaces-top-title-container {
    display: flex;
    gap: 10px;
    min-height: 50px;
    -webkit-box-align: center;
    align-items: center;
    width: 165px;
    margin-left: 12px;
}
.leftSection-spaces-top-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.leftSection-spaces-top-subtitle-container {
    display: flex;
    gap: 10px;
    margin-left: 12px;
    -webkit-box-align: center;
    align-items: center;
}
.leftSection-spaces-top-subtitle-gear-container {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.leftSection-spaces-top-subtitle-gear-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/gear.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/gear.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-top-subtitle-addFriend-frame {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 25px;
}
.leftSection-spaces-top-subtitle-addFriend-container {
    padding: 0px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 25px;
}
.leftSection-spaces-top-subtitle-addFriend-svg {
    width: 1.125rem;
    height: 1.125rem;
    mask: url("../images/addFriend.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/addFriend.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-search {
    margin: 0px 12px;
}
.leftSection-spaces-search-input-container:focus,
.leftSection-spaces-search-input-container:hover {
    border: 1px solid rgb(174, 174, 217);
}
.leftSection-spaces-search-input-container {
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    gap: 5px;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(112, 112, 140);
    transition: opacity 0.1s ease-in-out 0.1s;
    opacity: 1;
}
.leftSection-spaces-search-input-container-glass-svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    mask: url("../images/glass.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/glass.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}

.leftSection-spaces-search-input-container-input {
    font-size: 13px;
    letter-spacing: 0.5px;
    outline: none;
    background-color: transparent;
    width: calc(100% - 20px);
    border: unset;
    color: rgb(124, 124, 154);
    line-height: 24px;
}
input[placeholder] {
    color: rgb(124, 124, 154);
    text-align: center;
}
::-webkit-input-placeholder {
    color: rgb(124, 124, 154);
    text-align: center;
}
::-moz-placeholder {
    color: rgb(124, 124, 154);
    text-align: center;
}
.leftSection-spaces-search-input-container-button {
    padding: 0px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    visibility: hidden;
}
.leftSection-spaces-search-input-container-close-svg {
    width: 1.125rem;
    height: 1.125rem;
    mask: url("../images/close.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    transition: opacity 0.1s ease-in-out 0.1s;
    width: 100%;
    opacity: 1;
}
.leftSection-spaces-container-top {
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-right: 10px;
}
.leftSection-spaces-container-top-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 140%;
    margin-left: 12px;
    color: rgb(197, 197, 211);
    font-weight: 700;
}
.leftSection-spaces-container-top-add-button-container {
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
}
.leftSection-spaces-container-top-button {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.leftSection-spaces-container-top-button:hover .leftSection-spaces-container-top-add-tooltips::before {
    visibility: visible;
}
.leftSection-spaces-container-top-button:hover .leftSection-spaces-container-top-add-tooltips {
    visibility: visible;
}
.leftSection-spaces-container-top-add-tooltips {
    visibility: hidden;
    background-color: rgb(214, 73, 107);
    top: calc(100% + 5px);
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 1;
    text-transform: none;
    line-height: 20px;
    word-break: break-word;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    transition: visibility 0.1s ease-in-out 0.2s;
}
.leftSection-spaces-container-top-add-tooltips::before {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(214, 73, 107);
    z-index: 1;
    content: "";
    visibility: hidden;
    transition: visibility 0.1s ease-in-out 0.2s;
}
.leftSection-spaces-container-top-add-button {
    padding: 0px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.leftSection-spaces-container-top-add-svg {
    width: 1.5rem;
    height: 1.5rem;
    mask: url("../images/plus.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/plus.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out 0.2s;
}
.leftSection-spaces-container-top-add-svg:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.leftSection-spaces-container-main {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    min-width: 0px;
    height: 0px;
    margin-right: 1px;
}
.leftSection-spaces-container-main-card-container {
    display: flex;
    padding-top: 2px;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leftSection-spaces-container-main-card {
    background: transparent;
    padding: 0.25rem 0px 0.25rem 10px;
    display: grid;
    grid-template-columns: 16px 1fr;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
    cursor: grab;
}
.leftSection-spaces-container-main-card:focus .leftSection-spaces-container-main-card-title {
    color: rgb(214, 73, 107);
}
.leftSection-spaces-container-main-card:focus .svg-focus {
    background-color: rgb(214, 73, 107);
}
.leftSection-spaces-container-main-card-button {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    line-height: 16px;
}
.leftSection-spaces-container-main-card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    grid-column: 2 / auto;
    color: rgb(197, 197, 211);
    font-weight: 400;
    white-space: nowrap;
}
.leftSection-spaces-container-main-card-star-svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    mask: url("../images/star.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/star.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}

.leftSection-spaces-container-main-card-lock-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/lock.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/lock.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-container-main-card-folder-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/folder.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/folder.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #1e1e26;
}
.middleSection-top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(73, 73, 92);
    min-height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
}
.middleSection-top-container {
    display: grid;
    gap: 10px;
    grid-template-columns: min-content min-content 1fr;
    -webkit-box-align: center;
    align-items: center;
}
.middleSection-top-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    line-height: unset;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.middleSection-top-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    color: rgb(124, 124, 154);
    white-space: nowrap;
    line-height: 12px;
}
.middleSection-top-config-button {
    width: 16px;
    height: 16px;
    display: flex;
    gap: 10px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    justify-self: flex-end;
}
.middleSection-top-gear-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/gear.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/gear.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection-nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(73, 73, 92);
}
.middleSection-nav-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.middleSection-nav-tag-button-container {
    display: flex;
    position: relative;
}
.middleSection-nav-button {
    color: rgb(214, 73, 107);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
    transition: background-color 0.3s ease-in-out;
    line-height: 24px;
}
.middleSection-nav-button:hover,
.middleSection-nav-button:focus {
    background-color: rgb(56, 56, 73);
}
.middleSection-nav-button:focus .arrow-down-svg {
    display: none;
}
.middleSection-nav-button:focus .arrow-up-svg {
    display: block;
}
.middleSection-nav-tag-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/tag.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/tag.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}

.arrow-down-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    display: block;
}
.arrow-up-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/arrowUp.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/arrowUp.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    display: none;
}
.dropdown-menu {
    min-width: 0;
    width: max-content;
    padding: 0;
}
.middleSection-nav-dropdown-menu-li-container {
    color: rgb(197, 197, 211);
    padding: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.middleSection-nav-dropdown-menu-li-container:hover .edit-svg-container {
    opacity: 1;
}
.edit-svg-container {
    margin-left: auto;
    opacity: 0;
}
.edit-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/edit.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/edit.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection-nav-add-button-container {
    position: relative;
}
.middleSection-nav-add-button {
    background: rgb(214, 73, 107);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
    transition: box-shadow 0.3s ease-in-out;
}
.middleSection-nav-add-button:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.add-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/plus.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/plus.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
}

.middleSection-nav-add-text {
    color: rgb(255, 255, 255);
}
.middleSection-container {
}
.middleSection-tab-popover-container {
    display: flex;
    bottom: 30px;
    position: absolute;
    -webkit-box-align: center;
    align-items: center;
    padding: 28px;
    height: 78px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(73, 73, 92);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 10px;
    border-radius: 11px;
    left: 50%;
    z-index: 3000;
    transition: transform 0.3s ease-in-out 0s;
    transform: translate(-50%, 300px);
}
.middleSection-tab-popover-title {
    font-weight: 400;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgb(124, 124, 154);
    white-space: nowrap;
    overflow: visible;
}
.middleSection-tab-popover-move-button {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 14px;
    height: 32px;
    opacity: 0.6;
    border-radius: 5px;
    pointer-events: none;
    color: rgb(197, 197, 211);
}
.middleSection-tab-popover-move-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/moveFolder.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/moveFolder.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection-tab-popover-move-text {
    color: rgb(197, 197, 211);
}
.middleSection-tab-popover-create-button,
.middleSection-tab-popover-delete-button,
.middleSection-tab-popover-open-button {
    color: rgb(214, 73, 107);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 14px;
    height: 32px;
}
.middleSection-tab-popover-create-button:hover,
.middleSection-tab-popover-delete-button:hover,
.middleSection-tab-popover-open-button:hover {
    color: rgb(170, 63, 91);
    background: rgb(56, 56, 73);
}
.middleSection-tab-popover-create-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/create.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/create.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}
.middleSection-tab-popover-create-text,
.middleSection-tab-popover-delete-text,
.middleSection-tab-popover-open-text {
}
.middleSection-tab-popover-delete-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/trashcan.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/trashcan.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}
.middleSection-tab-popover-close-button {
    padding: 0px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.middleSection-tab-popover-close-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/close.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(124, 124, 154);
    transition: background-color 0.3s ease-in-out;
}
.middleSection-tab-popover-close-svg:hover {
    background-color: rgb(214, 73, 107);
}
.middleSection-tab-popover-open-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/openTab.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/openTab.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}
.rightSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-left: 1px solid rgb(73, 73, 92);
    will-change: transform;
    transition: transform 300ms ease-in-out 0s;
    background-color: rgb(30, 30, 38);
    width: 220px;
}
.rightSection-container {
    display: flex;
    gap: 10px;
    will-change: opacity;
    transition: all 300ms ease-in-out 0s;
    opacity: 1;
    height: 100%;
    position: relative;
    flex-direction: column;
}
.rightSection-fold-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 6.5px;
    transform: rotate(180deg);
    left: 5px;
    background-color: inherit;
}
.rightSec {
    left: -20px;
    border-radius: none;
    box-shadow: rgb(112 112 140 / 15%) -2px 0px 2px;
    transform: rotate(0deg);
}
.rightSection-fold-button-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/rightFold.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/rightFold.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.reload-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    transform: rotate(180deg);
    margin-top: 3px;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotating-element {
    animation: rotation 2s linear infinite;
}
.reload-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/reload.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/reload.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out 0.2s;
}
.reload-svg:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}

.rightSection-nav {
    display: flex;
    gap: 10px;
    min-height: 50px;
    border-bottom: 1px solid rgb(73, 73, 92);
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.rightSection-nav-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 140%;
    font-weight: 700;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.rightSection-spaces {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    height: calc(100% - 200px);
    min-height: 0px;
    width: 100%;
    align-self: flex-start;
    margin: 0px 0px 10px;
}
.rightSection-spaces-window-container {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.rightSection-spaces-window-tabs-container {
    cursor: grab;
    opacity: 1;
}
.rightSection-spaces-window-tabs-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-color: rgb(220, 220, 245);
    box-shadow: rgb(112 112 140 / 15%) 1px 2px 4px;
    border-radius: 5px;
    padding: 20px 12px;
    position: relative;
}
.rightSection-spaces-window-tabs-line {
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.rightSection-spaces-window-tabs-left-block {
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
    align-items: center;
}
.rightSection-spaces-window-title {
    font-weight: 400;
    font-family: Ubuntu, Arial, sans-serif;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    color: rgb(197, 197, 211);
}
.rightSection-spaces-window-fold-button {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.rightSection-spaces-window-fold-button:focus .arrow-right-svg {
    display: none;
}
.rightSection-spaces-window-fold-button:focus .rightSection-spaces-window-arrow-down-svg {
    display: block;
}
.arrow-right-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/arrowRight.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/arrowRight.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    display: block;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out 0.2s;
}
.arrow-right-svg:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.rightSection-spaces-window-arrow-down-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    display: none;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out 0.2s;
}
.rightSection-spaces-window-arrow-down-svg:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.rightSection-spaces-window-tabs-right-block {
    display: flex;
    gap: 10px;
}
.rightSection-spaces-window-tabs-download-container {
    position: relative;
    display: inline-block;
}
.rightSection-spaces-window-tabs-download-button {
    padding: 0px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}
.rightSection-spaces-window-tabs-download-button:hover .rightSection-spaces-window-tabs-download-svg {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.rightSection-spaces-window-tabs-download-button:hover .rightSection-spaces-window-tabs-download-tool-tips {
    visibility: visible;
}
.rightSection-spaces-window-tabs-download-button:hover .rightSection-spaces-window-tabs-download-tool-tips::before {
    visibility: visible;
}
.rightSection-spaces-window-tabs-download-tool-tips {
    visibility: hidden;
    background-color: rgb(214, 73, 107);
    top: calc(100% + 5px);
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 1;
    text-transform: none;
    line-height: 20px;
    word-break: break-word;
    left: 50%;
    transform: translateX(-50%);
    width: 95px;
    transition: visibility 0.1s ease-in-out 0.2s;
}
.rightSection-spaces-window-tabs-download-tool-tips::before {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(214, 73, 107);
    z-index: 1;
    content: "";
    visibility: hidden;
    transition: visibility 0.1s ease-in-out 0.2s;
}
.rightSection-spaces-window-tabs-download-svg {
    width: 13px;
    height: 13px;
    mask: url("../images/download.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/download.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
    overflow: hidden;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}
.rightSection-spaces-window-tabs-close-container {
    position: relative;
    display: inline-block;
}
.rightSection-spaces-window-tabs-close-button {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.rightSection-spaces-window-tabs-close-button:hover .rightSection-spaces-window-tabs-close-tool-tips::before {
    visibility: visible;
}
.rightSection-spaces-window-tabs-close-button:hover .rightSection-spaces-window-tabs-close-tool-tips {
    visibility: visible;
}
.rightSection-spaces-window-tabs-close-button:hover .rightSection-spaces-window-tabs-close-svg {
    background-color: rgb(214, 73, 107);
}
.rightSection-spaces-window-tabs-close-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/close.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
    transition: background-color 0.2s ease-in-out;
}
.rightSection-spaces-window-tabs-close-tool-tips {
    transition: visibility 0.1s ease-in-out 0.2s;
    visibility: hidden;
    background-color: rgb(214, 73, 107);
    top: calc(100% + 5px);
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 10;
    text-transform: none;
    line-height: 20px;
    word-break: break-word;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
}
.rightSection-spaces-window-tabs-close-tool-tips::before {
    transition: visibility 0.1s ease-in-out 0.2s;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 0.5rem;
    height: 0.5rem;
    background: rgb(214, 73, 107);
    z-index: 10;
    content: "";
    visibility: hidden;
}
.rightSection-spaces-window-tabs-cards-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rightSection-spaces-window-tabs-card-frame {
    transition: unset;
    margin: 5px 0px;
    position: relative;
    border-radius: 3px;
    filter: drop-shadow(rgba(112, 112, 140, 0.15) 1px 2px 4px);
}
.rightSection-spaces-window-tabs-card {
    display: flex;
    padding: 5px 10px;
    height: 37px;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(73, 73, 92);
    box-sizing: border-box;
    gap: 5px;
}
.rightSection-spaces-window-tabs-card:hover {
    background-color: rgb(41, 44, 53);
    border: 1px solid rgb(94, 94, 100);
}
.rightSection-spaces-window-tabs-card:hover .rightSection-spaces-window-tabs-check-box-container {
    visibility: visible;
    transition: all 0.2s ease-in-out 0.2s;
}
.rightSection-spaces-window-tabs-card:hover .rightSection-spaces-window-tabs-url-image-container {
    visibility: hidden;
}
.rightSection-spaces-window-tabs-card:hover .rightSection-spaces-window-tabs-card-close-button {
    scale: 1;
    transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1);
}
.rightSection-spaces-window-tabs-url-image-container {
    display: flex;
    gap: 10px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    visibility: visible;
}
.rightSection-spaces-window-tabs-url-image {
    width: 16px;
    height: 16px;
    position: absolute;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1);
}
.rightSection-spaces-window-tabs-card-title {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(197, 197, 211);
    font-size: 14px;
}
.rightSection-spaces-window-tabs-check-box-container {
    position: absolute;
    display: flex;
    gap: 5px;
    visibility: hidden;
    width: 16px;
    height: 16px;
}
.rightSection-spaces-window-tabs-check-box-click {
    width: 16px;
    height: 16px;
    border: 1px solid rgb(214, 73, 107);
    border-radius: 5px;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9.62px 7.62px;
    background-image: url(../images/check.svg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1) 0s;
    background-color: rgb(214, 73, 107);
}

.rightSection-spaces-window-tabs-check-box-container-click {
    visibility: visible;
}

.rightSection-spaces-window-tabs-check-box {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(124, 124, 154);
    border-radius: 5px;
    display: inline-block;
    flex-shrink: 0;
    cursor: pointer;
}
.rightSection-spaces-window-tabs-card-close-button {
    position: absolute;
    background-size: 1.4rem 1.4rem;
    top: 50%;
    right: -0.75rem;
    margin-top: -0.75rem;
    transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1);
    filter: grayscale(100%) brightness(80%);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/close1.svg);
    scale: 0;
}
.rightSection-spaces-window-tabs-card-close-button:hover {
    filter: grayscale(0%);
}
.rightSection-spaces-window-no-tab-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rightSection-spaces-window-no-tab {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: rgb(197, 197, 211);
}
.rightSection-spaces-window-tabs-container-close-container {
    display: none;
    gap: 10px;
    flex-direction: column;
    filter: drop-shadow(rgba(112, 112, 140, 0.25) 0px 2px 15px);
    position: absolute;
    top: 10px;
    z-index: 5;
    background-color: rgb(73, 73, 92);
    padding: 20px;
    width: 100%;
    left: 0px;
}
.rightSection-spaces-window-tabs-container-close-title {
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: rgb(197, 197, 211);
}
.rightSection-spaces-window-tabs-container-close-button-container {
    display: flex;
    gap: 10px;
}
.rightSection-spaces-window-tabs-container-return-button {
    color: rgb(214, 73, 107);
    border: 1px solid rgb(214, 73, 107);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
}
.rightSection-spaces-window-tabs-container-return-button:hover {
    background: rgb(170, 63, 91);
    color: rgb(255, 255, 255);
}
.rightSection-spaces-window-tabs-container-close-button {
    background: rgb(214, 73, 107);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
}
.rightSection-spaces-window-tabs-container-close-button:hover {
    background: rgb(170, 63, 91);
}
@media only screen and (min-width: 480px) {
    .middleSection-top {
        padding: 0px 32px;
    }
    .middleSection-nav {
        padding: 20px;
    }
    .middleSection-nav-list {
        gap: 10px;
    }
}
