@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

* {
    outline: none !important;
}
input {
    line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

button {
    border: none;
    background: rgba(0, 0, 0, 0);
}
body {
    min-width: 15rem;
    min-height: 30rem;
    background-color: #fff;
    color: rgb(247, 243, 243);
    font-family: "Noto Sans TC", Arial, sans-serif;
    overflow: hidden;
}
.Tobicord {
    background-color: #36393f;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
#root {
    height: 100%;
}

.sectionBox {
    display: grid;
    grid-template-columns: min-content minmax(0px, 1fr) min-content;
    grid-template-rows: 100%;
    background-color: rgb(30, 30, 38);
    height: 100%;
    position: relative;
}
.leftSection {
    z-index: 2000;
    position: relative;
    height: 100%;
    width: 280px;
    transition: none 0s ease 0s;
    background-color: #1e1e26;
}
.leftSection-container {
    display: flex;
    height: 100%;
    position: relative;
}
.leftSection-fold-button-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 6.5px;
    right: 5px;
    background-color: #1e1e26;
}
.leftSection-fold-button-container-reverse {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    right: -20px;
    top: 6.5px;
    border-radius: 99px;
    box-shadow: rgb(112 112 140 / 15%) -2px 0px 2px;
    transform: rotate(180deg);
    background-color: rgb(30, 30, 38);
}
.leftSection-fold-button-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/leftFold.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/leftFold.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px 0px;
    flex-shrink: 0;
    width: 60px;
    background-color: #1e1e26;
}
.leftSection-nav-top {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden auto;
    width: 100%;
}
.leftSection-nav-top-category-container {
    cursor: grab;
    opacity: 1;
    position: relative;
}
.leftSection-nav-top-category-button {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1px 6px 1px 6px;
    position: relative;
}
.leftSection-nav-top-category-button:focus::after {
    content: " ";
    position: absolute;
    background: rgb(214, 73, 107);
    border-radius: 1px;
    width: 4px;
    height: 40px;
    right: 0px;
}
.leftSection-nav-top-category-button:focus .leftSection-nav-top-category {
    box-shadow: none;
}
.leftSection-nav-top-category {
    background: rgb(214, 73, 107);
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
    box-sizing: border-box;
    border-radius: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.leftSection-nav-top-category:hover {
    box-shadow: none;
}
.leftSection-nav-top-category-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.leftSection-nav-bottom {
    display: grid;
    margin-top: auto;
    grid-auto-flow: row;
    -webkit-box-align: center;
    place-items: center;
    gap: 16px;
    width: 100%;
}
.leftSection-nav-bottom-user-container,
.leftSection-nav-bottom-notice-container,
.leftSection-nav-bottom-question-container {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 1px 6px 1px 6px;
}
.leftSection-nav-bottom-button {
    background: rgb(124, 124, 154);
    box-sizing: border-box;
    border-radius: 1000px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.leftSection-nav-bottom-button:hover {
    background: rgb(214, 73, 107);
}
.leftSection-nav-bottom-user-container:focus .leftSection-nav-bottom-button,
.leftSection-nav-bottom-notice-container:focus .leftSection-nav-bottom-button,
.leftSection-nav-bottom-question-container:focus .leftSection-nav-bottom-button {
    background: rgb(214, 73, 107);
}
.leftSection-nav-bottom-user-container:focus::after,
.leftSection-nav-bottom-notice-container:focus:after,
.leftSection-nav-bottom-question-container:focus::after {
    content: " ";
    position: absolute;
    background: rgb(214, 73, 107);
    border-radius: 1px;
    width: 4px;
    height: 40px;
    right: 0px;
}
.leftSection-nav-bottom-user-container:focus .user-popover::before {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    transform: rotate(-45deg);
    background-color: rgb(63, 65, 77);
    border-left: 1px solid rgb(63, 65, 77);
    border-top: 1px solid rgb(63, 65, 77);
    left: -0.6rem;
    bottom: 1rem;
    content: "";
}
.leftSection-nav-bottom-user-container:focus .user-popover-container {
    display: block;
}
.leftSection-nav-bottom-question-svg {
    width: 16px;
    height: 24px;
    mask: url("../images/questionMark.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/questionMark.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.leftSection-nav-bottom-notice-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/bell.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/bell.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.leftSection-nav-bottom-user-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/user.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/user.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(73, 73, 92);
}
.user-popover-container {
    display: none;
}
.user-popover {
    position: absolute;
    bottom: 0rem;
    left: 4rem;
    width: 32rem;
    background: rgb(63, 65, 77);
    border: 1px solid rgb(33, 33, 42);
    box-shadow: rgb(0 0 0 / 17%) 1px 2px 4px 0px;
    border-radius: 5px;
    z-index: 1000;
    flex-direction: column;
    padding: 0rem 1.3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "ga_account ga_logout"
        "ga_general ga_data"
        "ga_about ga_help"
        "ga_policies ga_spread";
    animation: 0.2s cubic-bezier(0.68, 1, 0.265, 2) 0s 1 normal forwards running kqXsXg;
    display: grid;
    transition: visibility 0.2s ease-in-out;
}
.user-popover-account {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(33, 33, 42);
    gap: 15px;
    overflow: hidden;
    grid-area: ga_account / ga_account / ga_account / ga_account;
}
.user-popover-account-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 14px;
    color: rgb(183, 183, 206);
}
.user-popover-account-email {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    color: rgb(183, 183, 206);
    white-space: nowrap;
}
.user-popover-edit-account {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    color: rgb(183, 183, 206);
}
.user-popover-change-password {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    color: rgb(183, 183, 206);
}
.user-popover-logout {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(33, 33, 42);
    gap: 15px;
    overflow: hidden;
    grid-area: ga_logout / ga_logout / ga_logout / ga_logout;
}
.user-popover-logout-button {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    align-self: flex-start;
    overflow: unset;
    text-overflow: unset;
    color: rgb(183, 183, 206);
    white-space: nowrap;
    align-self: flex-end;
}
.leftSection-spaces {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: visible;
    width: 220px;
    flex-shrink: 0;
    border-left: 1px solid rgb(73, 73, 92);
    border-right: 1px solid rgb(73, 73, 92);
    background-color: #1e1e26;
}
.leftSection-spaces-top {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.leftSection-spaces-top-title-container {
    display: flex;
    gap: 10px;
    min-height: 50px;
    -webkit-box-align: center;
    align-items: center;
    width: 165px;
    margin-left: 12px;
}
.leftSection-spaces-top-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.leftSection-spaces-top-subtitle-container {
    display: flex;
    gap: 10px;
    margin-left: 12px;
    -webkit-box-align: center;
    align-items: center;
}
.leftSection-spaces-top-subtitle-gear-container {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.leftSection-spaces-top-subtitle-gear-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/gear.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/gear.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-top-subtitle-addFriend-frame {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 25px;
}
.leftSection-spaces-top-subtitle-addFriend-container {
    padding: 0px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 25px;
}
.leftSection-spaces-top-subtitle-addFriend-svg {
    width: 1.125rem;
    height: 1.125rem;
    mask: url("../images/addFriend.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/addFriend.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-search {
    margin: 0px 12px;
}
.leftSection-spaces-search-input-container:focus,
.leftSection-spaces-search-input-container:hover {
    border: 1px solid rgb(174, 174, 217);
}
.leftSection-spaces-search-input-container {
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    padding: 3px;
    gap: 5px;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(112, 112, 140);
    transition: opacity 0.1s ease-in-out 0.1s;
    opacity: 1;
}
.leftSection-spaces-search-input-container-glass-svg {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    mask: url("../images/glass.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/glass.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}

.leftSection-spaces-search-input-container-input {
    font-size: 13px;
    letter-spacing: 0.5px;
    outline: none;
    background-color: transparent;
    width: calc(100% - 20px);
    border: unset;
    color: rgb(124, 124, 154);
    line-height: 24px;
}
input[placeholder] {
    color: rgb(124, 124, 154);
    text-align: center;
}
::-webkit-input-placeholder {
    color: rgb(124, 124, 154);
    text-align: center;
}
::-moz-placeholder {
    color: rgb(124, 124, 154);
    text-align: center;
}
.leftSection-spaces-search-input-container-button {
    padding: 0px;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    visibility: hidden;
}
.leftSection-spaces-search-input-container-close-svg {
    width: 1.125rem;
    height: 1.125rem;
    mask: url("../images/close.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/close.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    transition: opacity 0.1s ease-in-out 0.1s;
    width: 100%;
    opacity: 1;
}
.leftSection-spaces-container-top {
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-right: 10px;
}
.leftSection-spaces-container-top-title {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 140%;
    margin-left: 12px;
    color: rgb(197, 197, 211);
    font-weight: 700;
}
.leftSection-spaces-container-top-add-button-container {
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
}
.leftSection-spaces-container-main {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    min-width: 0px;
    height: 0px;
    margin-right: 1px;
}
.leftSection-spaces-container-main-card-container {
    display: flex;
    padding-top: 2px;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leftSection-spaces-container-main-card {
    background: transparent;
    padding: 0.25rem 0px 0.25rem 10px;
    display: grid;
    grid-template-columns: 16px 1fr;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
    cursor: grab;
}
.leftSection-spaces-container-main-card:focus .leftSection-spaces-container-main-card-title {
    color: rgb(214, 73, 107);
}
.leftSection-spaces-container-main-card:focus .svg-focus {
    background-color: rgb(214, 73, 107);
}
.leftSection-spaces-container-main-card-button {
    padding: 0px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    line-height: 16px;
}
.leftSection-spaces-container-main-card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    grid-column: 2 / auto;
    color: rgb(197, 197, 211);
    font-weight: 400;
    white-space: nowrap;
}
.leftSection-spaces-container-main-card-star-svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    mask: url("../images/star.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/star.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}

.leftSection-spaces-container-main-card-lock-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/lock.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/lock.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.leftSection-spaces-container-main-card-folder-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/folder.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/folder.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #1e1e26;
}
.middleSection-top {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(73, 73, 92);
    min-height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
}
.middleSection-top-container {
    display: grid;
    gap: 10px;
    grid-template-columns: min-content min-content 1fr;
    -webkit-box-align: center;
    align-items: center;
}
.middleSection-top-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    line-height: unset;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.middleSection-top-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    font-weight: 300;
    color: rgb(124, 124, 154);
    white-space: nowrap;
    line-height: 12px;
}
.middleSection-top-config-button {
    width: 16px;
    height: 16px;
    display: flex;
    gap: 10px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    justify-self: flex-end;
}
.middleSection-top-gear-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/gear.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/gear.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection-nav {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(73, 73, 92);
}
.middleSection-nav-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.middleSection-nav-tag-button-container {
    display: flex;
    position: relative;
}
.middleSection-nav-button {
    color: rgb(214, 73, 107);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
    transition: background-color 0.3s ease-in-out;
    line-height: 24px;
}
.middleSection-nav-button:hover,
.middleSection-nav-button:focus {
    background-color: rgb(56, 56, 73);
}
.middleSection-nav-tag-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/tag.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/tag.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}

.arrow-down-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/arrowDown.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(214, 73, 107);
}

.dropdown-menu {
    min-width: 0;
    width: max-content;
    padding: 0;
}
.middleSection-nav-dropdown-menu-li-container {
    color: rgb(197, 197, 211);
    padding: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.middleSection-nav-dropdown-menu-li-container:hover .edit-svg-container {
    opacity: 1;
}
.edit-svg-container {
    margin-left: auto;
    opacity: 0;
}
.edit-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/edit.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/edit.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}
.middleSection-nav-add-button-container {
    position: relative;
}
.middleSection-nav-add-button {
    background: rgb(214, 73, 107);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: min-content;
    height: 24px;
    font-size: 12px;
    transition: box-shadow 0.3s ease-in-out;
}
.middleSection-nav-add-button:hover {
    box-shadow: rgb(30 30 38 / 30%) 0px 0px 0px 1000px inset;
}
.add-svg {
    width: 1rem;
    height: 1rem;
    mask: url("../images/plus.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/plus.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
}

.middleSection-nav-add-text {
    color: rgb(255, 255, 255);
}
.rightSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    border-left: 1px solid rgb(73, 73, 92);
    will-change: transform;
    transition: transform 300ms ease-in-out 0s;
    background-color: #1e1e26;
    width: 220px;
}
.rightSection-container {
    display: flex;
    gap: 10px;
    will-change: opacity;
    transition: all 300ms ease-in-out 0s;
    opacity: 1;
    height: 100%;
    position: relative;
    flex-direction: column;
}
.rightSection-fold-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    padding-left: 0px;
    padding-right: 0px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    top: 6.5px;
    transform: rotate(180deg);
    left: 5px;
    background-color: inherit;
}
.rightSection-fold-button-svg {
    width: 1.25rem;
    height: 1.25rem;
    mask: url("../images/rightFold.svg") no-repeat 50% 50%;
    mask-size: cover;
    -webkit-mask: url("../images/rightFold.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    background-color: rgb(197, 197, 211);
}

.rightSection-nav {
    display: flex;
    gap: 10px;
    min-height: 50px;
    border-bottom: 1px solid rgb(73, 73, 92);
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.rightSection-nav-title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 140%;
    margin-right: 20px;
    font-weight: 700;
    white-space: nowrap;
    color: rgb(197, 197, 211);
}
.rightSection-spaces {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    height: calc(100% - 200px);
    min-height: 0px;
    width: 100%;
    align-self: flex-start;
    margin: 0px 0px 10px;
}
.test {
    z-index: 3000;
    background-color: black;
}

@media only screen and (min-width: 480px) {
    .middleSection-top {
        padding: 0px 32px;
    }
    .middleSection-nav {
        padding: 20px;
    }
    .middleSection-nav-list {
        gap: 10px;
    }
}
